{% extends "blog/base.html" %}
{% load crispy_forms_tags %} 
<!--As of django-crispy-forms 2.0 the template packs are now in separate packages.

You will need to pip install crispy-bootstrap4 and add crispy_bootstrap4 to your list of-->

{% block content %}
    <div class="content-section">
        <div class="media">
            <img src="{{ user.profile.image.url }}" class="rounded-circle account-img" >
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <!-- FORM HERE -->
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Profile Info
                </legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Update</button>
            </div>
        </form>
    </div>
{% endblock content %}