{% extends "blog/base.html" %}
{% load crispy_forms_tags %} 
<!--As of django-crispy-forms 2.0 the template packs are now in separate packages.

You will need to pip install crispy-bootstrap4 and add crispy_bootstrap4 to your list of-->

{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Blog Post
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Post</button>
            </div>
        </form>
        
    </div>
{% endblock content %}